$breakpoint_120X600: "screen and (width: 120px) and (height: 600px)";
$breakpoint_160X600: "screen and (width: 160px) and (height: 600px)";
$breakpoint_180X500: "screen and (width: 180px) and (height: 500px)";
$breakpoint_200X200: "screen and (width: 200px) and (height: 200px)";
$breakpoint_250X250: "screen and (width: 250px) and (height: 250px)";
$breakpoint_254X133: "screen and (width: 254px) and (height: 133px)";
$breakpoint_300X250: "screen and (width: 300px) and (height: 250px)";
$breakpoint_300X350: "screen and (width: 300px) and (height: 350px)";
$breakpoint_300X600: "screen and (width: 300px) and (height: 600px)";
$breakpoint_320X50: "screen and (width: 320px) and (height: 50px)";
$breakpoint_320X100: "screen and (width: 320px) and (height: 100px)";
$breakpoint_320X250: "screen and (width: 320px) and (height: 250px)";
$breakpoint_336X280: "screen and (width: 336px) and (height: 280px)";
$breakpoint_468X60: "screen and (width: 468px) and (height: 60px)";
$breakpoint_468X300: "screen and (width: 468px) and (height: 300px)";
$breakpoint_468X400: "screen and (width: 468px) and (height: 400px)";
$breakpoint_468X468: "screen and (width: 468px) and (height: 468px)";
$breakpoint_468X600: "screen and (width: 468px) and (height: 600px)";
$breakpoint_470X246: "screen and (width: 470px) and (height: 246px)";
$breakpoint_560X292: "screen and (width: 560px) and (height: 292px)";
$breakpoint_580X400: "screen and (width: 580px) and (height: 400px)";
$breakpoint_580X500: "screen and (width: 580px) and (height: 500px)";
$breakpoint_620X530: "screen and (width: 620px) and (height: 530px)";
$breakpoint_728X90: "screen and (width: 728px) and (height: 90px)";
$breakpoint_800X150: "screen and (width: 800px) and (height: 150px)";
$breakpoint_970X90: "screen and (width: 970px) and (height: 90px)";
$breakpoint_980X150: "screen and (width: 980px) and (height: 150px)";
$breakpoint_980X250: "screen and (width: 980px) and (height: 250px)";
$breakpoint_980X300: "screen and (width: 980px) and (height: 300px)";
$breakpoint_980X400: "screen and (width: 980px) and (height: 400px)";
$breakpoint_980X600: "screen and (width: 980px) and (height: 600px)";
