$breakpoint_300X600: "screen and (width: 300px) and (height:600px)";

$breakpoint_180X500: "screen and (width: 180px) and (height:500px)";

$breakpoint_250X250: "screen and (width: 250px) and (height:250px)";

$breakpoint_300X250: "screen and (width: 300px) and (height:250px)";

$breakpoint_320X250: "screen and (width: 320px) and (height:250px)";

$breakpoint_468X300: "screen and (width: 468px) and (height:300px)";

$breakpoint_468X400: "screen and (width: 468px) and (height:400px)";

$breakpoint_580X500: "screen and (width: 580px) and (height:500px)";

$breakpoint_980X300: "screen and (width: 980px) and (height:300px)";
